
.conteneurAction{
    border-radius: 4px;
    background-color: rgba($color: gray, $alpha: 0.1);
}


form{
    text-align: center;
}

.conteneurAdd{
    padding-top: 15px;
    padding-bottom: 15px;
}